// ----------------
//     MIXINS
// ----------------

// box-sizing
@mixin box-sizing($type) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}


// clearfix
@mixin clearfix {
    &:before,
    &:after {
        content:" ";
        display:table;
    }

    &:after {
        clear:both;
    }

    & {
        *zoom:1;
    }
}


@mixin border_btn(){
    display: inline-block;
    padding: 10px 30px;
    min-height: 40px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    padding-top: 9px;
    transition: all .2s ease;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    line-height: 1.135;
    max-width: 100%;

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: -100%;
        width: 100%;
        height: 100%;
        z-index: -1;
        -webkit-transition: all 0.1s linear;
        transition: all 0.1s linear;
        z-index: -1;
    }

    &:hover::before{
        top: 0px;
    }
}

@mixin owl_btn($bg,$color){

    color: $color;
    background-color: $bg;
    border: 2px solid $color;

    &:hover{
        color: $bg; 
    }

    &::before {
        background-color: $color;
    }
}

// Transitions
@mixin transition($props: all, $speed: 0.2s, $easing: easy) {
    -webkit-transition: $props $speed $easing;
    -moz-transition: $props $speed $easing;
    -o-transition: $props $speed $easing;
    -ms-transition: $props $speed $easing;
    transition: $props $speed $easing;
}

@mixin filter($gray,$tran){
    filter: grayscale($gray) opacity($tran);
}

// ::selection
@mixin selection($color, $bgcolor, $elem: "") {
    #{$elem}::-webkit-selection {
        color: $color;
        background-color: $bgcolor;
    }

    #{$elem}::-moz-selection {
        color: $color;
        background-color: $bgcolor;
    }

    #{$elem}::selection {
        color: $color;
        background-color: $bgcolor;
    }
}

// placeholder
@mixin placeholder {
    ::-webkit-input-placeholder {@content};
    :-moz-placeholder           {@content};
    ::-moz-placeholder          {@content};
    :-ms-input-placeholder      {@content};
}

// noText
@mixin no-text {
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    color: transparent;
}

// vertical-center
@mixin vertical-center {
    position: relative;
    top: 50%;

    @include transform(translateY(-50%));
}

// multi center

@mixin centerer__max($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

// transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// hex  bg opacity
@mixin hex-bg($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);

}

// hex  border opacity
@mixin hex-bor($color, $opacity: 0.3) {
    border-color: $color; /* The Fallback */
    border-color: rgba($color, $opacity);
}

// rwd mixin
@mixin rwd($size) {
    @media all and (max-width:#{$size}) {
        @content;
    }
}

@mixin rwdm($size) {
    @media all and (min-width:#{$size}) {
        @content;
    }
}

// border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// font options
@mixin font($rozmiar: 16, $waga: 500, $color:#fff) {

    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    font-size: calc-em($rozmiar);
    font-weight: $waga;
    color: $color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// opacity
@mixin opacityElement($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

// gradient linearGradient(#fff, #000)
@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

// box shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}