

$z-index: ();

$font-base: system-ui;
$font-heading: $font-base;


$color-white: #fff;
$color-black: #000;

$color-text: $color-black;
$color-bg: $color-white;
$color-reversed-bg: $color-text;
$color-reversed-text: $color-bg;

$gutter: 10px;
$transition-time: .3s;
