// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

/// Font sizing
/// @type Size
$base-font-size: 16px;
$base-line-height: 1.5;

/// Copy text color
/// @type Color
$url-color: blue;
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container"s maximum width
/// @type Length
$max-width: 1920px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "s": 320px,
  "xs": 768px,
  "m": 992px,
  "l": 1024px,
  "xl": 1366px,
  "xxl": 1600px,
) !default;

/// Spacing
/// @type Size

$gutter: 10px;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
$base-url: "../images" !default;
$fonts: "../fonts/";
